.signup__image--container {
  background-image: url(https://i0.wp.com/i.pinimg.com/originals/3f/07/cb/3f07cbccc3db57918757a8e75c8fbed3.jpg);
  height: 100vh;
  background-size: cover;
}
.signup__form--container,
.login__form--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.login__image--container {
    background-image: url(https://i.pinimg.com/originals/85/00/65/850065970855960104a48f5f3657f732.jpg);
    height: 100vh;
    background-size: cover;
}

@media screen and (max-width: 756px) {
    .login__image--container,
    .signup__image--container {
        display: none;
    }
}

